<div class="repos">
    <h2>Repositories</h2>
    <ul>
        <% repos.forEach(repo => { %>
            <li><a href="/orgs/<%- orgName %>/repositories/<%- repo.name %>"><%= repo.name %></a></li>
        <% }) %>
    </ul>

    <% if (locals.showAllRepos && showAllRepos) { %>
        <button class="show-all-repos"><a href="/orgs/<%- orgName %>/repositories">Show All</a></button>
    <% } %>
    <% if (locals.pagination && pagination) { %>
        <div class="pagination">
            <a
            <% if (locals.firstPage) { %> 
                href="/orgs/<%- orgName %>/repositories?page=<%- firstPage %>"
            <% } else { %>
                class="disable"  
            <% } %>
            ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            <a
            <% if (locals.prevPage) { %> 
                href="/orgs/<%- orgName %>/repositories?page=<%- prevPage %>"
            <% } else { %>
                class="disable"   
            <% } %>
            ><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a class="active"><%= page %></a>
            <a
            <% if (locals.nextPage) { %> 
                href="/orgs/<%- orgName %>/repositories?page=<%- nextPage %>"
            <% } else { %>
                class="disable"  
            <% } %>
            ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a
            <% if (locals.lastPage) { %> 
                href="/orgs/<%- orgName %>/repositories?page=<%- lastPage %>"
            <% } else { %>
                class="disable"  
            <% } %>
            ><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    <% } %>
</div>