<%- include("partials/header.ejs") %>
<div class="orgs">
    <h2>Organizations</h2>
    <ul>
        <% organizations.forEach(organization => { %>
            <li class="org"><a href="/orgs/<%- organization.login %>">
                <img src="<%= organization.avatar_url %>" class="user-image">
                <span><%= organization.login %></span>
            </a></li>
        <% }) %>
    </ul>
</div>
<%- include("partials/footer.ejs") %>