<%- include("partials/header.ejs") %>
<div class="prs">
    <h2>Pull Requests</h2>
    <% if(prs.length == 0) {%>
    <h4>No Pull Requests</h4>
    <% } else { %>
    <ul>
    <% prs.forEach(pr => { %>
        <li class="pr">
            <a href="<%- pr.html_url %>" target="_blank" class="title"><%= pr.title %></a>
            <div class="state <%= pr.state %>"><span><%= pr.state %></span></div>
            <div class="user">
                <img src=<%= pr.user.avatar_url %> class="user-image">
                <a class="user-url" href=<%= pr.user.html_url %> target="_blank"></a>
                <span class="tooltiptext"><%= pr.user.login %></span>
            </div>
            <div class="reviewers">  
                <% for (var reviewer in pr.reviewedUsers) { %>
                    <div class="reviewer <%- pr.reviewedUsers[reviewer].state %>">
                        <% if (pr.reviewedUsers[reviewer].state == "APPROVED") { %>
                            <i class="fa fa-check reviewer-review" aria-hidden="true"></i>
                        <% } else if (pr.reviewedUsers[reviewer].state == "CHANGES_REQUESTED") { %>
                            <i class="fa-solid fa-circle-exclamation reviewer-review"></i>
                        <% } %>
                        <img src=<%= pr.reviewedUsers[reviewer].user.avatar_url %> class="user-image">
                        <a class="user-url" href=<%= pr.reviewedUsers[reviewer].user.html_url %> target="_blank"></a>
                        <span class="tooltiptext"><%= pr.reviewedUsers[reviewer].user.login %></span>
                    </div>
                <% } %>
                <% pr.requested_reviewers.forEach(reviewer => { %>
                <div class="reviewer">
                    <img src=<%= reviewer.avatar_url %> class="user-image"/>
                    <a class="user-url" href=<%= reviewer.html_url %> target="_blank"></a>
                    <span class="tooltiptext"><%= reviewer.login %></span>
                </div>
                <% }) %>
            </div>
        </li>
    <% }) %>
    </ul>
    <% } %>
</div>
<%- include("partials/footer.ejs") %>